.card-background {
    padding: 65px 0 65px 0;
    background-image: url(/public/images/background_img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.card{
    max-width: 900px;
}