.card-background {
    padding: 65px 0 65px 0;
    background-image: url(/public/images/background_img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card{
    max-width: 900px;
}

.card >div {
    padding: 0;
}

@media (min-width: 950px) {
    .card >div {
        padding: 20px;
    }
}