:root{
    --text-color: rgb(0, 0, 0);
}

.home-background{
    padding: 65px 0 65px 0;
    background-image: url(/public/images/background_img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.textColor{
    color: var(--text-color);
}

.card {
    max-width: 300px;
    text-align: center;
}

.card > div {
    padding: 20px;
}