.floatingButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.category-background{
        padding: 65px 0 65px 0;
        background-image: url(/public/images/background_img.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: black;
}