.background{
    background-color: rgb(0, 0, 0);
}

.myAuctions-background {
    padding: 65px 0 65px 0;
    background-image: url(/public/images/background_img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(0, 0, 0);
}

.floatingButton {
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.list{
    margin: 0 50px;
    padding: 10px 0;
}