:root {
    --register-color: rgb(15, 120, 146);
    --register-container-color: rgba(203, 231, 199, 1);
    --back-button-out-color: rgba(90, 135, 83, 1);
    --back-button-over-color: rgba(46, 46, 46, 1);
    --register-button-color: rgba(46, 46, 46, 1);
}

.register {
    background-color: var(--register-color);
    /* background-image: url(../../images/register/register_background.png); */
        
}

.register-container {
    background-color: var(--register-container-color);
}

.register-container>div>div { /*PAREI DE COLOCAR OS MODULOS AQUI*/
    /*p-card-content: tem padding padrao*/
    padding: 0;
}

.sub-title {
    margin: 0 0 40px 0;
}

.password-area div {
    width: 100%;
}

#register-button span {
    color: var(--register-button-color);
}

#back-button span {
    color: var(--back-button-out-color);
}

@media screen and (max-width: 600px) {
    .p-card-body {
        padding: 0;
    }

    .register-container {
        width: 100%;
        padding: 40px 10px;
        box-shadow: none;
    }

    .register-item {
        min-width: 100%;
    }
}

@media screen and (min-width: 601px) {
    .register {
        padding: 20px 0;
    }

    .register-container {
        max-width: 900px;
    }
}